@use '@styles/global/index.scss' as *;

.myGame {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
  height: 100%;
  padding: 32px;
  animation: slideUp 0.8s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

