@mixin reset-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  /* font: inherit;
  color: inherit;
  line-height: normal;
  text-decoration: none;
  text-align: inherit; */
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
  }
}