@use '@styles/global/index.scss' as *;


.teamCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  padding: 24px;
  border-radius: 24px;
  flex: 1;
  max-height: 300px;
  box-sizing: border-box;

  &_blue {
    background-color: $blue;
  }

  &_pink {
    background-color: $pink;
  }

  &_green {
    background-color: $green;
  }

  &_orange {
    background-color: $orange;
  }
}

// Team name
.teamNameWrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.teamName {
  @include reset-text;
  font-weight: $regular;
  font-size: $p2;
  line-height: 1;
  cursor: default;
  max-width: 265px;
  width: 100%;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.editNameButton {
  @include reset-button;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease, visibility 0.2s ease, opacity 0.2s ease;

  @include hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }

  & svg {
    width: 24px;
    height: 24px;
  }

  &_hovered {
    visibility: visible;
    opacity: 1;
    transition: transform 0.2s ease, visibility 0.2s ease, opacity 0.2s ease;
  }
}

.teamNameInput {
  @include reset-text;
  font-weight: $regular;
  font-size: $p2;
  line-height: 1em;
  background: transparent;
  border: 1px solid $black;
  border-radius: 4px;
  padding: 0;
  width: 100%;
  height: 28px;
  outline: none;
  cursor: pointer;

  &:focus {
    border-color: $black-hover;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

// Input score
.scoreInputWrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
  width: 100%;
  height: 48px;
}

.scoreInput {
  @include reset-text;
  font-weight: $regular;
  font-size: fluid(24px, 48px);
  line-height: 1em;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid $black;
}

.scoreAcceptButton {
  @include reset-button;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: $black;
  transition: background-color 0.2s ease, transform 0.2s ease, opacity 0.2s ease;
  flex-shrink: 0;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  & svg {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease;
  }

  &:hover:not(:disabled) {
    background-color: $black-hover;

    & svg {
      transform: rotate(-90deg) translateY(3px);
    }
  }
}


// score points all
.scorePointsAll {
  @include reset-text;
  font-weight: $regular;
  font-size: fluid(24px, 48px);
  line-height: 1em;
}


.scoreLeader {
  font-weight: $bold;
}

.refreshButton {
  @include reset-button;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 14px;
  border-radius: 12px;
  background-color: $black;
  color: $text-color-secondary;
  transition: background-color 0.2s ease, transform 0.2s ease;

  @include hover {
    background-color: $black-hover;
    
    & > svg {
      transform: rotate(180deg);
    }
  }

  &:active {
    transform: scale(0.95);
  }

  & svg {
    width: 24px;
    height: 24px;
    transform: rotate(0);
    transition: transform 0.2s ease;
  }
}