@use '@styles/global/index.scss' as *;

.page {
	font-family: $ff-base;
	font-size: $p1;
	font-style: normal;
	font-weight: $regular;
	letter-spacing: -0.04em;
	color: $text-color-primary;
	background-color: $bg-color;
	width: 100%;
	min-width: 320px;
	max-width: 100%;
	margin: 0 auto;
	height: 100dvh;
  min-height: 100dvh;

	@supports not (height: 100dvh) {
		height: 100%;
		min-height: -webkit-fill-available;
	}
	@supports not (height: var(--window-height)) {
		height: 100%;
		min-height: -webkit-fill-available;
	}
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100dvh;
}

