/* ПАЛИТРА */
$white: #ffffff;
$black: #17151A;
$black-hover: #38343C;

$gray: #E6E6E6;
$gray-dark: #B8B8B8;

// bright
$yellow:#E1FF2D;
$yellow-hover: #CEEA24;

$purple-light: #DDC9F8;
$purple-light-hover: #CFACFF;
$purple-dark: #713EB2;
$purple-dark-hover: #8341D7;

$blue: #87CEEB;
$pink: #FF8FD2;
$green: #81E38C;
$orange: #FF8C78;

//-- ЦВЕТА --
$bg-color: $yellow;
$bg-color-secondary: $white;

$text-color-primary: $black;
$text-color-secondary: $white;
$text-color-tertiary: $gray-dark;
