// FONT FAMILY
$ff-base: var(--heliosext);

// FONT WEIGHT
$regular: 400;
$bold: 700;

// FONT SIZE

// HEADERS
$h-hero: 128px;
$h2: 56px;
$h3: 46px;


// PARAGRAPHS
// paragraph для FHD (1921px+)
$p1: 46px;
$p2: 28px;

// numbers 
$btn-1: 32px;
