@use '@styles/global/index.scss' as *;

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 40px;
  
& h2 {
  @include reset-text;
  font-size: 40px;
  font-weight: $bold;
  font-style: italic;
  letter-spacing: -1.6px;
}

  & svg {
    min-width: 220px;
    height: 40px;
  }
}